<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>page10</key>
		<dict>
			<key>CreationDate</key>
			<date>2012-01-28T17:28:04Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>2EC3072C-C9EF-4097-881E-C2288DC50E4A</string>
			<key>PageDigests</key>
			<dict>
				<key>tags.html</key>
				<dict>
					<key>Digest</key>
					<data>
					IcZoCksBxi7kN68mO0lgjA==
					</data>
					<key>Size</key>
					<integer>9042</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page10</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page11</key>
		<dict>
			<key>CreationDate</key>
			<date>2012-01-28T17:28:04Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>2EC3072C-C9EF-4097-881E-C2288DC50E4A</string>
			<key>PageDigests</key>
			<dict>
				<key>attributes.html</key>
				<dict>
					<key>Digest</key>
					<data>
					yGHEJdOXHvYr5zhQI8FUDQ==
					</data>
					<key>Size</key>
					<integer>8444</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page11</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page12</key>
		<dict>
			<key>CreationDate</key>
			<date>2012-01-28T17:28:04Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>2EC3072C-C9EF-4097-881E-C2288DC50E4A</string>
			<key>PageDigests</key>
			<dict>
				<key>browsertools.html</key>
				<dict>
					<key>Digest</key>
					<data>
					XylcpX4koqmSZ3oQEhxoLg==
					</data>
					<key>Size</key>
					<integer>6633</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page12</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page6</key>
		<dict>
			<key>CreationDate</key>
			<date>2012-01-28T17:28:04Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>2EC3072C-C9EF-4097-881E-C2288DC50E4A</string>
			<key>PageDigests</key>
			<dict>
				<key>index.html</key>
				<dict>
					<key>Digest</key>
					<data>
					FopJa64HUzVyYxBEf3144Q==
					</data>
					<key>Size</key>
					<integer>5723</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page6</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page7</key>
		<dict>
			<key>CreationDate</key>
			<date>2012-01-28T17:28:04Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>2EC3072C-C9EF-4097-881E-C2288DC50E4A</string>
			<key>PageDigests</key>
			<dict>
				<key>divingin.html</key>
				<dict>
					<key>Digest</key>
					<data>
					SjZyjehccLLTC21Rauir6Q==
					</data>
					<key>Size</key>
					<integer>7354</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page7</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page8</key>
		<dict>
			<key>CreationDate</key>
			<date>2012-01-28T17:28:04Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>2EC3072C-C9EF-4097-881E-C2288DC50E4A</string>
			<key>PageDigests</key>
			<dict>
				<key>structure.html</key>
				<dict>
					<key>Digest</key>
					<data>
					wbBJTSokkKLpeR6/XN00hw==
					</data>
					<key>Size</key>
					<integer>9007</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page8</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
		<key>page9</key>
		<dict>
			<key>CreationDate</key>
			<date>2012-01-28T17:28:04Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>2EC3072C-C9EF-4097-881E-C2288DC50E4A</string>
			<key>PageDigests</key>
			<dict>
				<key>tinkering.html</key>
				<dict>
					<key>Digest</key>
					<data>
					OMmZz9A4s/yed+yyevzZ5g==
					</data>
					<key>Size</key>
					<integer>8430</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>page9</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
